*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');



.cabecalho {

    margin: auto;
    margin-top: 50px;

    display: flex;
    justify-content: center;

    font-family: 'Source Sans Pro', sans-serif;

    background-color: rgb(198, 4, 33);
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);
    
    height: 150px;
    max-width: 600px;
    min-width: 200px;

    border-radius: 20px  20px  5px 5px;
    border: 5px solid black;
        
}


.pokebola-titulo {
    display: flex;
    align-self: center;
    
}

.logo {
    text-shadow: 3px 3px 3px black;
    width: 100px; 
    height: 100px; 
}

.titulo {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.611);
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    font-size: 90px;
    color: #fafafa; 
}




header a {
    
    font-weight: bold;
    font-size:21px ;
    text-decoration: none;
    color: #fafafa;
    margin: 15px;
    
}

body {
    
    background: url('../imagens/pexels-alexander-kovalev-2847648.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
       
}

main {
    font-family: 'Source Sans Pro', sans-serif;

    margin: auto;
    margin-bottom: 30px;
    margin-top: -3px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);
    text-align: center;
    background-color:#313030c4 ; 

    padding: 5px;
    padding-bottom: 10px;

    max-width: 612px;
    min-width: 200px;

    border-radius: 0px 0px 20px 20px;
    border: 2px solid black;

    filter: blur(0.5px);
    
    
}

main h3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.538);
    margin-top: 20px;
    color: #fafafa;
    text-align: center;
    font-family: 'Sigmar', cursive;
}

main div p {
    
    margin: auto;
    text-align: center;
    color: #fafafa;
    
}


main div p.botao {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.498);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.513);
    width: 90px;
    height: 20px;
    padding: 3px;
    border-radius: 20px;
    background-color: #edeaea;
}

main div p.botao:hover {

    background-color: rgb(40, 39, 39);
    transition: 0.2s;
}

a{
    color: black;
    font-weight: bold;
    
}

a:hover {
    transition: 0.2s;
    color: #fafafa;
}

main a {
    
    text-decoration: none;
    color:black;
    text-align: center;
}

main div.pokemon {
    
    padding: 5px;
    margin: auto;
    display: inline-block;
    text-align: center;
    width: 140px;
    
}

.pokemon img {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.527));
    transition: 0.3s;
}

.pokemon img:hover {
    width: 120px;
    height: 120px;
}

.numero {
    padding: 7px;
}
