*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



.cabecalho{
    background-image: radial-gradient(#ff0012, #212121 );
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.498);
    height: 130px;
    
}

.pokemon img{
    width: 100px;
    height: 100px;
}

.pokebola-titulo{
    margin-top: 15px;
    text-align: left;
    display: inline-flex
}
.logo{
    width: 70px;
    
}

.titulo{
    margin-left: 10px;
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    width: 250px;
    color: #fafafa; 
}


header a{
    
    font-weight: bold;
    font-size:21px ;
    text-decoration: none;
    color: #fafafa;
    margin: 15px;
    
}

body{
    background: url('../imagens/pexels-daniel-absi-952670.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

main{
    margin-top: 30px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.51);
    text-align: center;
    background-color:#9e9e9eb5 ; 
    padding: 10px;
    max-width: 1200px;
    min-width:650px ;
    
}

main h3{
    margin-top: 20px;
    color: #fafafa;
    text-align: center;
    font-family: 'Sigmar', cursive;
}

main div p{
    
    margin: auto;
    text-align: center;
    color: #fafafa;
    
}
main div p.botao{
    width: 70px;
    padding: 5px;
    border-radius: 20px;
    background-color: #fafafa;
}
main div p.botao:hover{
    color: #fafafa;
    background-color: #cd0310;
    
}

main a{
    
    text-decoration: none;
    color:black;
    text-align: center;
}

main div.pokemon{
    
    padding: 5px;
    margin: auto;
    display: inline-block;
    text-align: center;
    width: 190px;
    height: 190px;
}